{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
  {% if book_list %}
    <ul>
      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        <!-- main author, else the ordered Prep05 authors -->
        ({% if book.author %}{{ book.author }}{% else %}{% for book_author in book.bookauthor_set.all|dictsort:"author_order" %}{{ book_author.author }}{% if not forloop.last %}; {% endif %}{% endfor %}{% endif %})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
